<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">	
	<!-- Root Context: defines shared resources visible to all other web components -->
		
		<!-- 1.접속정보 파일 *.properties을 bean으로 등록  -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
					<list>
						<value>classpath:db.properties</value>
					</list>
			</property>
	</bean>
	
	
	<!-- 2.datasource 객체로 등록  : Transaction 사용(ref)-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
			<property name="username" value="${user}"/>
			<property name="password" value="${pw}"/>
			<property name="defaultAutoCommit" value="true"/>	
			<!-- transaction걸어주려고 -->
	</bean>
	
	
	<!-- 3.Spring에 넣어 줄 수 있도록 DataSource와 + MyBatis 세팅 해주고 bean으로 등록 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>	
		<property name="configLocation" value="/WEB-INF/spring/sqls/Configuration.xml"/>
	</bean>
	
	
	<!-- 4.spring이 사용할 수 있도록 Bean으로 등록id="" DI할거임 @autowired -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
			<constructor-arg index="0" ref="sqlSessionFactoryBean"/>
	</bean>
	
	
	<!-- transaction을 위해서->service에서 실행/환경설정 : servletcontext에서  -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"/>
	</bean>
		
		
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"	rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice"	pointcut="execution(* com.min.edu.model.*Service*.*(..))" />
	</aop:config>
	
</beans>







