<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sarang.hagae.reser">

<!-- 병원 진료 과 조회 -->
<select id="selectHObj" resultType="HSPdto" parameterType="java.lang.String">
	SELECT A.MAIN_OBJ, C.OBJ_CODE 
	FROM HOSPITAL H 
	JOIN H_CODE_OBJ A ON H.H_REGI=A.H_REGI 
	JOIN O_CODE C ON A.MAIN_OBJ=C.MAIN_OBJ WHERE H.H_REGI=#{h_regi}
</select>

<!-- 병원 동물 조회 -->
<select id="selectHAni" resultType="HSPdto" parameterType="java.lang.String">
	SELECT A.MAIN_ANI, C.ANI_CODE 
	FROM HOSPITAL H 
	JOIN H_CODE_ANI A ON H.H_REGI=A.H_REGI 
	JOIN A_CODE C ON A.MAIN_ANI=C.MAIN_ANI WHERE H.H_REGI=#{h_regi}
</select>

<!-- 예약 검색 -->
<select id="serchReser" parameterType="java.util.Map" resultType="HSPdto">
SELECT H_REGI,H_ADDRESS,H_MAIL,H_NAME,H_PHONE,OBJ_CODE FROM HOSPITAL JOIN  H_CODE_OBJ
     using(H_REGI)
    	join(O_CODE)
     using(MAIN_OBJ)
    	JOIN OBJ
     using(MAIN_OBJ)
	WHERE  (H_REGI NOT in (SELECT  H_REGI
									FROM RESERVATION  
										WHERE  R_DATE= to_date(#{r_date},'YYYYMMDDHH24MISS')))
	AND MAIN_OBJ = #{main_obj} AND OBJ_DETAIL_CODE=#{obj_detail_code}
</select>

<!-- 예약 추가 -->
<insert id="insertReser" parameterType="Rdto">
	INSERT INTO RESERVATION(SEQ,U_ID,H_REGI,R_STATUS,R_DATE,R_CONTENT)
	VALUES(RESERVATION_SEQ.NEXTVAL, #{u_id}, #{h_regi}, 'Y',TO_DATE(#{r_date},'yyyymmddhh24miss'),#{r_content})
</insert>

<!-- 예약 삭제 -->
<update id="delReser" parameterType="java.util.Map">
	UPDATE RESERVATION SET R_STATUS='N' WHERE R_STATUS='Y' AND U_ID IN 
		<foreach collection="u_id_" item="u_id" open="(" separator="," close=")">
        	 #{u_id}
		</foreach>
</update>

<!-- 예약 수정 -->
<update id="modifyReser" parameterType="java.util.Map">
	UPDATE RESERVATION 
	SET R_DATE=TO_DATE(#{r_date},'yyyymmddhh24miss'); , 
	R_CONTENT=#{r_content} WHERE U_ID=#{u_id};
</update>

<!-- 전체 진료 과 -->
<select id="selectAllObj" resultType="com.min.edu.dto.AllObj_Dto">
	SELECT * FROM O_CODE
</select>

<!--  진료 상세 -->
<select id="selectAllODetail" resultType="com.min.edu.dto.AllObj_Dto">
SELECT * FROM OBJ WHERE MAIN_OBJ=#{Main_obj}
</select>

<!-- 병원 상세조회 -->
<select id="selectOneHospital2" parameterType="java.lang.String" resultType="HSPdto">
		SELECT *
  		FROM HOSPITAL 
   		WHERE H_REGI=#{h_regi}
</select>

<!-- 병원 예약 시간 조회 -->
<select id="selectR_Date" resultType="Rdto" parameterType="java.lang.String">
	SELECT TO_CHAR(R_DATE,'YYYYMMDDHH24MISS') R_CONTENT, U_ID FROM RESERVATION WHERE H_REGI=#{h_regi}
</select>
</mapper>
